{% extends 'base.html' %}

{% block title %}EkOreos{% endblock %}

{% block content %}

{% if mensaje %}
<p>{{ mensaje }}</p>
{% endif %}

{% if logueado %}
<h2>Hola {{ nombre }}</h2>

{% if data %}
<p>{{ data }}</p>
{% endif %}

{% else %}
<h1>Bienvenido/a a EkOreos!</h1>
<form method="post">
    <label for="title">Nombre</label>
    <input type="text" name="name" value="pepe">
    <br>

    <label for="title">Contraseña</label>
    <input type="password" name="pass" value="passresegura">
    <br>

    <button type="submit">Acceder</button>
</form>

{% endif %}


{% endblock %}
