{% extends 'base.html' %}

{% block title %}GatoGram{% endblock %}

{% block content %}

    <h1>Bienvenido/a a GatoGram!</h1>
    <p>Mira que inocentes son nuestros gatos!</p>

    {% if cat is not none %}

    {% if image %}
    <img src="/static/images/idor/{{ image }}" width="200" height="200">
    {% else %}
    <p>Gato {{ cat }} no encontrado!</p>
    {% endif %}

    {% else %}
    <p>Elegi un gato de la lista</p>
    {% endif %}



    <ul>
        <li><a href="/idor/1">Tierno</a></li>
        <li><a href="/idor/2">Adorable</a></li>
        <li><a href="/idor/3">Hermoso</a></li>
    </ul>

{% endblock %}
